<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iantoxi.jetlagtrainer" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputSelectionActivity"
            android:label="@string/title_activity_input_selection" >
        </activity>
        <activity
            android:name=".SleepStrategySelection"
            android:label="@string/title_activity_sleep_strategy" >
        </activity>
        <activity
            android:name=".EvaluationActivity"
            android:label="@string/title_evaluation_activity" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name=".InputLocationActivity"
            android:label="@string/title_activity_input_location" >
        </activity>
        <activity
            android:name=".OriginTime"
            android:label="@string/title_activity_origin_time" >
        </activity>
        <activity
            android:name=".InputSummaryActivity"
            android:label="@string/title_activity_input_summary" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="NotificationActivity" >
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:label="NotificationReceiver" >
        </receiver>

        <service
            android:name=".ListenerServiceFromWear"
            android:label="ListenerServiceFromWear" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".SendServiceToWear"
            android:label="SendServiceToWear" >
        </service>
        <service
            android:name=".SendScheduleToWear"
            android:label="SendScheduleToWear" >
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="sleep_shifts.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.iantoxi" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_geo_api_key" />

        <activity
            android:name=".HistorySummaryActivity"
            android:label="@string/title_activity_history_summary_activity" >
        </activity>
    </application>

</manifest>
